@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.navbar{
  position: fixed;
  width: 100%;
  font-family: 'Mulish';
  background: gold;
}

.navbar .logo a{
  color: whitesmoke;
  font-size: 35px;
  font-weight: 500;
}

.navbar .menu li{
  list-style: none;
  display: inline-block;
}

.navbar .menu li a{
  color: whitesmoke;
}